@import './root.module.css';

footer {
    padding: 28px 0;
}
footer .footer-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-inner .footer-left p {
    color: var(--dark-gray);
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

footer .footer-inner .footer-right {
    margin-left: auto;
}
footer .footer-inner .footer-right .icon {
    height: 24px;
    margin-left: 12px;
    width: 24px;
    opacity: 0.6;
}
footer .footer-inner .footer-right .icon:hover {
    transition: 0.25s;
    filter: invert(35%) sepia(10%) saturate(3063%) hue-rotate(314deg) brightness(92%) contrast(112%);
    /* box-shadow: -5px -5px var(--dark-gray); */
    /* opacity: 0.; */
}