@import './root.module.css';

.flex-wrapper {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.circular-image {
    border-radius: 50%;
    /* margin-left: auto; */
    display: inline-block;
    width: 50%; 
 }

.key {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    font-style: italic; 
    font-size: 0.65rem;
}

.contact-info{
    color: var(--lightest-gray);
    text-align: center;
    overflow-wrap: normal;
}
.metadata {
    color: var(--lightest-gray);
    margin: 0;
}

.flex-wrapper > div {
    flex: 0 1 100%;
}

.flex-wrapper > .flex-wrapper-sub {
    display: flex;
    flex-direction: column; 
    flex: 0 1 50%;
}

.image-wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-wrapper > .flex-wrapper-sub > .contact-wrapper {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


.box > li {
    font-size: 0.80rem;
    margin: 0 0 5px 0;
}

h2 { 
    color: var(--light-gray);
    font-weight: 700;
    font-size: 1.1rem;
}

.link-wrapper {
    display: inline-block;
}
.link-text {
    color: var(--red);
    text-decoration: none;
    transform: scaleX(0);
}

.link-text:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--dark-red);  
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
  transform-origin: 0% 50%;
}

.link-text:hover:after { 
    transform: scaleX(1); 
}

.link-text > span {
    display:inline;
}