@import './root.module.css';

.flex-wrapper {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.key {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    font-style: italic; 
    font-size: 0.65rem;
}

.metadata {
    color: var(--lightest-gray);
    margin: 0;
}

.flex-wrapper > div {
    flex: 0 1 100%;
}

.box > li {
    font-size: 0.80rem;
    margin: 0 0 5px 0;
}

h2 { 
    color: var(--light-gray);
    font-weight: 700;
    font-size: 1.1rem;
}

.link-wrapper {
    display: inline-block;
}
.link-text {
    color: var(--red);
    text-decoration: none;
    transform: scaleX(0);
}

.link-text:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--dark-red);  
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
  transform-origin: 0% 50%;
}

.link-text:hover:after { 
    transform: scaleX(1); 
}

.link-text > span {
    display:inline;
}