.container {
    margin: auto;
    max-width: 500px;
    font-family: 'merriweather';
  }

.heading {
    color: rgb(87, 80, 80);
    font-weight: bold;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.circular-image {
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
    display:inline-block;
    vertical-align:middle;
}